<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">Se você possui um usuário e senha, você pode utilizar o botão abaixo para acessar o conteúdo protegido com token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registre-se</h2>
        <p class="text-primary">Utilize o botão abaixo para criar usuário e senha e acessar o conteúdo protegido</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Registre-se &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>